<!doctype html>
<html>
<head></head>
<body>

	<div class="slide" ng-controller="ExpertiseController">
		<section class="expertise-wrapper">
			<div class="row">
				<ul>
					<li class="small-4 columns">
						<a ng-href="{{myHref}}/brand">
							<div class="expertise">
								<div class="expertise-img">
									<img src="">
								</div>
								<div class="title">Brand</div>
							</div>
						</a>
					</li>
					<li class="small-4 columns">
						<a ng-href="{{myHref}}/digital">
							<div class="expertise">
								<div class="expertise-img">
									<img src="">
								</div>
								<div class="title">Digital</div>
							</div>
						</a>
					</li>
					<li class="small-4 columns">
						<a ng-href="{{myHref}}/content">
							<div class="expertise">
								<div class="expertise-img">
									<img src="">
								</div>
								<div class="title">Content</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
	
</body>
</html>