<!doctype html>
<html>
<head>
</head>
<body>

<div id="home" class="slide" ng-controller="IntroController">
	<div class="row">
		<div class="small-12 columns">
			<h2>Hi, We are ARK!</h2>
			<p>ARK is an independent creative agency, made up of a group of highly skilled, motivated individuals, who work closely together across a broad spectrum of disciplines to deliver functional and commercially successful solutions.</p>
			<p>We have a unique philosophy and a special zest for creative ideas.</p>
		</div>
		<div class="small-12 columns">
		<a href='#/expertise' class='triangle-right'></a>
		<div>
	</div>
</div>
</body>
</html>